body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f3;
  overflow: hidden;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
  height: 35px;
  padding: 5px 10px;
  margin: 15px;
  border-radius: 8px;
}

ul {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}
li {
  border: 1px solid transparent;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 99, 71, .75);
  border-radius: 8px;
  color: rgba(0, 0, 255, .45);
}
li:hover {
  border: 1px solid tomato;

}

button {
  text-transform: uppercase;
  outline: none;
  padding: 15px;
  margin: 10px;
  background-color: rgba(0, 0, 255, .45);
  border-radius: 8px;
  color: #ccc;
  transition: all ease-in-out .3s;
}
button:disabled {
  color: #000;
}
button:hover {
  border: 2px solid transparent;
  color: #fff;
}
span {
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(0, 0, 0, .45);
}

@media (max-width: 500px) {
  .wrapper {
    max-width: 270px;
    width: 100%;
  }
  input m{
    height: 20px;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  ul {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  li {
    margin-left: -15px;
    max-width: 225px;
    width: 100%;
    padding: 5px;
  }
}